# Copyright 2011—2014 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.

[buildout]
extends = https://raw.github.com/nutjob4life/plone4-dev-buildout/1.0.0/buildout.cfg

[versions]
# Gah I hate svn
zc.buildout = 2.2.1
setuptools = 5.1
z3c.form = 3.0.3
